@tailwind base;
@tailwind components;
@tailwind utilities;

/* === Fonts === */
@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/FilsonSoft-Bold.woff2") format("truetype");
  font-weight: 700;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@keyframes blink {
  0%, 100% {
    color: #FFD369;
  }
  50% {
    color: #ffffff;
  }
}

.animate-blink {
  animation: blink 1.5s infinite;
}
